



#btnjugarArreglo{
    border-radius: 10%;
	
	position: relative;
	padding: 10px 20px;
	font-size: 15px;
	color: #fff;
	border-style:inset;
	margin-left: 190px;
	font-family:'Archeologicaps';
	background-image:url(/fotos/background-pattern-texture-gold-wallpaper-preview.png);
}

p{
	font-family:'Archeologicaps';
	font-size: 20px;
	color:rgb(77, 77, 161);
	
}




