#btnjugarArreglo {
	border-radius: 10%;
	background-image: url(/fotos/background-pattern-texture-gold-wallpaper-preview.png);
	position: relative;
	padding: 15px 40px;
	font-size: 20px;
	background-repeat: no-repeat;
	color: #fff;
	border-style: inset;
	cursor: pointer;
	margin-left: 200px;
	font-family:'Archeologicaps';
	
}


p {
	font-family: 'Archeologicaps';
	font-size: 20px;
	color: rgb(0, 0, 7);
	text-align: center;
}

p:hover {
	color: rgb(123, 17, 198);
}

#resultado {
	font-family:'Archeologicaps';
	margin-left: 80px;
}






