#ia {
	width: 280px;
	height:410px;
	margin-bottom: 20px;
	border-radius: 10%;
}

#azar-nombres {
	display: flex;
	padding-bottom: 100px;
    font-size: 40px;
	font-family:'Archeologicaps';
	margin: 80px;
	margin-left:150px;			
}

#gift{
	width: 200px;
	height: 400px;
	padding-top: 150px;
}


