#ia {
	width: 17.5rem;
	height:25.625rem;
	margin-bottom: 1.25rem;
	border-radius: 10%;
}

#azar-nombres {
	display: flex;
	padding-bottom: 6.25rem;
    font-size: 2.5rem;
	font-family:'Archeologicaps';
	margin: 5rem;
	margin-left:9.375rem;			
}

#gift{
	width: 12.5rem;
	height: 25rem;
	padding-top: 9.375rem;
}


