@font-face {
    font-family: 'archeologicapsregular';
    src: url('archeologicaps-webfont.woff2') format('woff2'),
        url('archeologicaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.name {
    padding-top: 1em;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    color: rgb(96, 35, 21);    
}

.name:hover{
    color: rgb(216, 178, 169);  

}

.texto {
    text-transform: capitalize;
    font-size: medium;
    color: rgb(4, 4, 46);
    padding: 1em 5em;
    flex-direction: row;
    text-align: center;
    padding-left:3.125rem;
    background-color: rgba(151, 151, 222, 0.337);
}

.texto:hover{
    color:rgb(230, 230, 240);

}