#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;/*La propiedad CSS z-index indica el orden de un elemento posicionado y sus descendientes. Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor. */
}