#btn-abrir-pop1 {
	font-family:'Archeologicaps';
	color: rgb(135, 7, 147);
	position: relative;
	padding: 10px 20px;
	font-size: 15px;
	background: #efb258;
	color: #fff;
	border-style: inset;
	z-index: 10;
	cursor: pointer;
	margin-top: 10px;
	background-image:url(/fotos/background-pattern-texture-gold-wallpaper-preview.png);
	border-radius: 10%;
}

.overlay {
	background: rgba(0, 0, 0, .3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.activo {
	visibility: visible;

}

.popup {
	background-color: rgb(211, 170, 238);
	padding: 50px;
	text-align: center;
	width: 400px;
	font-family:'Archeologicaps';
	background-image:url(/fotos/background-pattern-texture-gold-wallpaper-preview.jpg);
	border-radius: 10%;

}

.btn-cerrar-popup1 {
	font-size: 30px;
	
	text-align:center;
	color: blueviolet;
    
}

.btn-cerrar-popup1:hover {
	color: black;
	
}

.popup h3 {
	color: rgb(7, 107, 147);
	font-size: 20px;
	margin-bottom: 15px;
	padding-top: 10px;

}

.popup form .contenedor-input input {
	font-family: 'Archeologicaps';
	width: 100%;
	margin-bottom: 10px;
	height: 32px;
	font-size: 20px;
	text-align: center;


}